In [81]:
import pandas as pd

arquivo = pd.read_excel(r"C:\Users\anton\OneDrive\Área de Trabalho\Documentos e Planilhas\Power Bi\Geral Loja\2024\Vendas 2024.xlsx")
df_vendas = pd.DataFrame(arquivo)

In [82]:
df_vendas.columns

Index(['Data', 'Nome da Loja', 'Número do Peiddo Multiloja',
       'NÃºmero do pedido', 'Código', ' Valor total ', 'Nome do Transportador',
       ' Frete proporcional ', 'Cidade', 'UF', 'Custo do Produto', 'Taxa'],
      dtype='object')

In [83]:
ordem_colunas = ['Código', 'Nome da Loja', ' Valor total ', 'Custo do Produto', 'Cidade', 'UF']
df_vendas = df_vendas[['Nome da Loja', 'Código', ' Valor total ', 'Cidade', 'UF', 'Custo do Produto']]
df_vendas = df_vendas[ordem_colunas]
df_vendas

,Código,Nome da Loja,Valor total,Custo do Produto,Cidade,UF
0,289442,Dafiti,164.21,30.50,Barreiras,BA
1,290406,Dafiti,180.95,32.00,Osasco,SP
2,289432,Dafiti,149.02,30.50,Osasco,SP
3,238847,Dafiti,174.60,30.50,Japeri,RJ
4,219924,Dafiti,179.98,51.46,ParobÃ©,RS
...,...,...,...,...,...,...
109484,276645,SecretOutlet,204.83,70.00,Rio de Janeiro,RJ
109485,237104,SecretOutlet,229.99,55.00,São Sebastião do Paraíso,MG
109486,235871,SecretOutlet,152.72,32.00,Atibaia,SP
109487,292166,SecretOutlet,149.99,34.00,São Pedro do Butiá,RS
109488,292314,SecretOutlet,199.99,80.00,Dois Córregos,SP

In [84]:
json = pd.read_json(r'Base\bagy.json')
df_bagy = pd.DataFrame(json)
json.head()

,Sell In Kit Only,Active,Variations → Price Compare,Shops → Slug,Stock Location,Meta Keywords,Variations → Price,Brands → Name,Variations → Sku,Tags,...,Depth,Stocks → Balance,Variations → External ID,Variations → Gtin,Variations → ID,Kit Markup,Price Out Of Stock,External ID,Relevance,Warranty
0,False,True,NaN,secretoutlet,NaN,"Bermuda Aeropostale D'Água Masculina, Aeropost...",NaN,Aeropostale,253697.0,None,...,20.0,3,253697.0,7.898599e+12,10334966,1,NaN,253696,1,0.0
1,False,True,NaN,secretoutlet,NaN,"Bermuda Aeropostale D'Água Masculina, Aeropost...",NaN,Aeropostale,253698.0,None,...,20.0,3,253698.0,7.898599e+12,10334967,1,NaN,253696,1,0.0
2,False,True,NaN,secretoutlet,NaN,"Bermuda Aeropostale D'Água Masculina, Aeropost...",NaN,Aeropostale,253699.0,None,...,20.0,3,253699.0,7.898599e+12,10334968,1,NaN,253696,1,0.0
3,False,True,NaN,secretoutlet,NaN,"Bermuda Aeropostale D'Água Masculina, Aeropost...",NaN,Aeropostale,253700.0,None,...,20.0,0,253700.0,7.898599e+12,10334969,1,NaN,253696,1,0.0
4,False,True,NaN,secretoutlet,NaN,"Short Aeropostale Masculino, Aeropostale, Outl...",NaN,Aeropostale,257483.0,None,...,20.0,0,257483.0,7.898599e+12,11301069,1,NaN,257482,1,0.0

In [85]:
df_bagy = df_bagy[['Brands → Name', 'Categories - Category Default → Name', 'Price', 'Cost', 'Slug', 'Name', 'Stocks → Balance', 'External ID', 'Variations → Sku']]
df_bagy = df_bagy.rename(columns={'Brands → Name': 'Marca', 'Categories - Category Default → Name': 'Categoria', 'Price': 'Preço', 'Cost': 'Custo', 'Slug': 'Link', 'Name':'Produto', 'Stocks → Balance': 'Estoque', 'External ID': 'SKU Pai', 'Variations → Sku': 'Código'})
ordem_colunas = ['SKU Pai', 'Código', 'Produto', 'Link', 'Estoque', 'Marca', 'Categoria', 'Preço', 'Custo']
df_bagy = df_bagy[ordem_colunas]
df_bagy = df_bagy.dropna(subset='Código')
df_bagy['Código'] = df_bagy['Código'].astype(int)
df_bagy

,SKU Pai,Código,Produto,Link,Estoque,Marca,Categoria,Preço,Custo
0,253696,253697,Bermuda Aeropostale D'Água Masculina Bold Logo...,https://secretoutlet.bagypro.com/bermuda-aerop...,3,Aeropostale,Bermudas Aeropostale,229.99,84.90
1,253696,253698,Bermuda Aeropostale D'Água Masculina Bold Logo...,https://secretoutlet.bagypro.com/bermuda-aerop...,3,Aeropostale,Bermudas Aeropostale,229.99,84.90
2,253696,253699,Bermuda Aeropostale D'Água Masculina Bold Logo...,https://secretoutlet.bagypro.com/bermuda-aerop...,3,Aeropostale,Bermudas Aeropostale,229.99,84.90
3,253696,253700,Bermuda Aeropostale D'Água Masculina Bold Logo...,https://secretoutlet.bagypro.com/bermuda-aerop...,0,Aeropostale,Bermudas Aeropostale,229.99,84.90
4,257482,257483,Bermuda Aeropostale D'Água Masculina New York ...,https://secretoutlet.bagypro.com/bermuda-aerop...,0,Aeropostale,Bermudas Aeropostale,249.99,104.90
...,...,...,...,...,...,...,...,...,...
58934,206080,206081,Tricot John John Masculino Travis Red JJ Preta,https://secretoutlet.bagypro.com/tricot-john-j...,0,John John,"Blusas, Jaquetas e Moletons John John",299.99,120.77
58935,206080,206082,Tricot John John Masculino Travis Red JJ Preta,https://secretoutlet.bagypro.com/tricot-john-j...,1,John John,"Blusas, Jaquetas e Moletons John John",299.99,120.77
58936,206080,206083,Tricot John John Masculino Travis Red JJ Preta,https://secretoutlet.bagypro.com/tricot-john-j...,0,John John,"Blusas, Jaquetas e Moletons John John",299.99,120.77
58937,206080,206084,Tricot John John Masculino Travis Red JJ Preta,https://secretoutlet.bagypro.com/tricot-john-j...,0,John John,"Blusas, Jaquetas e Moletons John John",299.99,120.77
58938,295271,295272,Viseira Calvin Klein Swimwear Logo Preta,https://secretoutlet.bagypro.com/viseira-calvi...,9,Calvin Klein,Bonés Calvin Klein,210.52,90.45

In [86]:
df_bagy = df_bagy[['SKU Pai', 'Código']]
df_bagy

      SKU Pai  Código
0      253696  253697
1      253696  253698
2      253696  253699
3      253696  253700
4      257482  257483
...       ...     ...
58934  206080  206081
58935  206080  206082
58936  206080  206083
58937  206080  206084
58938  295271  295272

[58938 rows x 2 columns]

In [87]:
df_vendas = df_vendas.merge(df_bagy, how='left', on='Código')
ordem_colunas = ['SKU Pai', 'Código', 'Nome da Loja', ' Valor total ', 'Custo do Produto', 'Cidade', 'UF']
df_vendas = df_vendas[ordem_colunas]

In [88]:
df_vendas[' Valor total '] = df_vendas[' Valor total '].replace(',', '.')
df_vendas['Custo do Produto'] = df_vendas['Custo do Produto'].replace(',', '.')

In [89]:
df_vendas[' Valor total '] = df_vendas[' Valor total '].astype(float)
df_vendas['Custo do Produto'] = df_vendas['Custo do Produto'].astype(float)
df_vendas

,SKU Pai,Código,Nome da Loja,Valor total,Custo do Produto,Cidade,UF
0,289439,289442,Dafiti,164.21,30.50,Barreiras,BA
1,290403,290406,Dafiti,180.95,32.00,Osasco,SP
2,289429,289432,Dafiti,149.02,30.50,Osasco,SP
3,238845,238847,Dafiti,174.60,30.50,Japeri,RJ
4,219922,219924,Dafiti,179.98,51.46,ParobÃ©,RS
...,...,...,...,...,...,...,...
109484,276643,276645,SecretOutlet,204.83,70.00,Rio de Janeiro,RJ
109485,237101,237104,SecretOutlet,229.99,55.00,São Sebastião do Paraíso,MG
109486,235867,235871,SecretOutlet,152.72,32.00,Atibaia,SP
109487,292165,292166,SecretOutlet,149.99,34.00,São Pedro do Butiá,RS
109488,292312,292314,SecretOutlet,199.99,80.00,Dois Córregos,SP

In [90]:
df_vendas['Nº De Vendas'] = 1
df_vendas = df_vendas.groupby("Código").agg({
    'SKU Pai': 'first',
    'Nome da Loja': 'first',
    ' Valor total ': 'sum',
    'Custo do Produto': 'sum',
    'Cidade': 'first',
    'UF': 'first',
    'Nº De Vendas':'sum'
}).reset_index()
df_vendas

,Código,SKU Pai,Nome da Loja,Valor total,Custo do Produto,Cidade,UF,Nº De Vendas
0,1036,1036-1,SecretOutlet,129.99,27.14,Belo Horizonte,MG,1
1,1037,1036-1,Mercado Livre,279.98,54.28,Belo Horizonte,MG,2
2,1038,1036-1,Mercado Livre,578.76,108.56,Capivari de Baixo,SC,4
3,1039,1036-1,Mercado Livre,320.84,81.42,Novo Hamburgo,RS,3
4,1042,1042-1,Mercado Livre,3914.40,1046.56,BrasÃ­lia,DF,31
...,...,...,...,...,...,...,...,...
18739,294274,294270,SecretOutlet,15.92,30.39,Juiz de Fora,MG,1
18740,294277,294275,SecretOutlet,94.73,30.39,São Paulo,SP,1
18741,294308,294302,SecretOutlet,107.53,30.39,Cruz Alta,RS,1
18742,294453,294449,SecretOutlet,368.41,162.09,Formosa,GO,1
18743,-,None,SecretOutlet,704.56,0.00,Santa Maria,RS,1

In [91]:
df_vendas = df_vendas.sort_values(by='Nº De Vendas', ascending=False)
df_vendas

,Código,SKU Pai,Nome da Loja,Valor total,Custo do Produto,Cidade,UF,Nº De Vendas
2885,231494,231492,Dafiti,151236.90,37838.36,Belo Horizonte,MG,1040
2886,231495,231492,Dafiti,149269.25,37593.18,Belo Horizonte,MG,1033
2887,231496,231492,Dafiti,79755.08,19945.72,Passa Quatro,MG,548
2888,231497,231492,Dafiti,62535.19,16410.54,Nova IguaÃ§u,RJ,451
2884,231493,231492,Mercado Livre,63813.38,15980.30,Adamantina,SP,439
...,...,...,...,...,...,...,...,...
8598,258005,258002,Dafiti,281.99,135.91,IjuÃ­,RS,1
8599,258006,258002,Dafiti,379.98,135.91,Boituva,SP,1
8600,258007,258002,Dafiti,359.99,135.91,Pedreira,SP,1
8615,258047,258045,SecretOutlet,197.00,74.86,Belo Horizonte,MG,1
18743,-,None,SecretOutlet,704.56,0.00,Santa Maria,RS,1

In [92]:
df_vendas = df_vendas[['Código', 'Nº De Vendas']]
df_vendas

       Código  Nº De Vendas
2885   231494          1040
2886   231495          1033
2887   231496           548
2888   231497           451
2884   231493           439
...       ...           ...
8598   258005             1
8599   258006             1
8600   258007             1
8615   258047             1
18743       -             1

[18744 rows x 2 columns]

In [93]:
estoque = pd.read_json(r"C:\Users\anton\Downloads\todos_os_produtos_2024-06-12T18_30_42.179336Z.json")
df_estoque = pd.DataFrame(estoque)

In [94]:
df_estoque = df_estoque[['Brands → Name', 'Categories - Category Default → Name', 'Price', 'Cost', 'Slug', 'Name', 'Stocks → Balance', 'External ID', 'Variations → Sku']]
df_estoque = df_estoque.rename(columns={'Brands → Name': 'Marca', 'Categories - Category Default → Name': 'Categoria', 'Price': 'Preço', 'Cost': 'Custo', 'Slug': 'Link', 'Name':'Produto', 'Stocks → Balance': 'Estoque', 'External ID': 'SKU Pai', 'Variations → Sku': 'Código'})

In [95]:
df_estoque = df_estoque.dropna(subset='Código')
df_estoque['Código'] = df_estoque['Código'].astype(int)
df_estoque

,Marca,Categoria,Preço,Custo,Link,Produto,Estoque,SKU Pai,Código
0,Aeropostale,Bermudas Aeropostale,229.99,84.90,https://secretoutlet.bagypro.com/bermuda-aerop...,Bermuda Aeropostale D'Água Masculina Bold Logo...,3,253696,253697
1,Aeropostale,Bermudas Aeropostale,229.99,84.90,https://secretoutlet.bagypro.com/bermuda-aerop...,Bermuda Aeropostale D'Água Masculina Bold Logo...,3,253696,253698
2,Aeropostale,Bermudas Aeropostale,229.99,84.90,https://secretoutlet.bagypro.com/bermuda-aerop...,Bermuda Aeropostale D'Água Masculina Bold Logo...,3,253696,253699
3,Aeropostale,Bermudas Aeropostale,229.99,84.90,https://secretoutlet.bagypro.com/bermuda-aerop...,Bermuda Aeropostale D'Água Masculina Bold Logo...,0,253696,253700
4,Aeropostale,Bermudas Aeropostale,249.99,104.90,https://secretoutlet.bagypro.com/bermuda-aerop...,Bermuda Aeropostale D'Água Masculina New York ...,0,257482,257483
...,...,...,...,...,...,...,...,...,...
59198,John John,"Blusas, Jaquetas e Moletons John John",299.99,120.77,https://secretoutlet.bagypro.com/tricot-john-j...,Tricot John John Masculino Travis Red JJ Preta,0,206080,206081
59199,John John,"Blusas, Jaquetas e Moletons John John",299.99,120.77,https://secretoutlet.bagypro.com/tricot-john-j...,Tricot John John Masculino Travis Red JJ Preta,1,206080,206082
59200,John John,"Blusas, Jaquetas e Moletons John John",299.99,120.77,https://secretoutlet.bagypro.com/tricot-john-j...,Tricot John John Masculino Travis Red JJ Preta,0,206080,206083
59201,John John,"Blusas, Jaquetas e Moletons John John",299.99,120.77,https://secretoutlet.bagypro.com/tricot-john-j...,Tricot John John Masculino Travis Red JJ Preta,0,206080,206084
59202,Calvin Klein,Bonés Calvin Klein,210.52,90.45,https://secretoutlet.bagypro.com/viseira-calvi...,Viseira Calvin Klein Swimwear Logo Preta,9,295271,295272

In [96]:
ordem_colunas = ['SKU Pai', 'Código', 'Produto', 'Link', 'Estoque', 'Marca', 'Categoria', 'Preço', 'Custo']
df_estoque = df_estoque[ordem_colunas]
df_estoque

,SKU Pai,Código,Produto,Link,Estoque,Marca,Categoria,Preço,Custo
0,253696,253697,Bermuda Aeropostale D'Água Masculina Bold Logo...,https://secretoutlet.bagypro.com/bermuda-aerop...,3,Aeropostale,Bermudas Aeropostale,229.99,84.90
1,253696,253698,Bermuda Aeropostale D'Água Masculina Bold Logo...,https://secretoutlet.bagypro.com/bermuda-aerop...,3,Aeropostale,Bermudas Aeropostale,229.99,84.90
2,253696,253699,Bermuda Aeropostale D'Água Masculina Bold Logo...,https://secretoutlet.bagypro.com/bermuda-aerop...,3,Aeropostale,Bermudas Aeropostale,229.99,84.90
3,253696,253700,Bermuda Aeropostale D'Água Masculina Bold Logo...,https://secretoutlet.bagypro.com/bermuda-aerop...,0,Aeropostale,Bermudas Aeropostale,229.99,84.90
4,257482,257483,Bermuda Aeropostale D'Água Masculina New York ...,https://secretoutlet.bagypro.com/bermuda-aerop...,0,Aeropostale,Bermudas Aeropostale,249.99,104.90
...,...,...,...,...,...,...,...,...,...
59198,206080,206081,Tricot John John Masculino Travis Red JJ Preta,https://secretoutlet.bagypro.com/tricot-john-j...,0,John John,"Blusas, Jaquetas e Moletons John John",299.99,120.77
59199,206080,206082,Tricot John John Masculino Travis Red JJ Preta,https://secretoutlet.bagypro.com/tricot-john-j...,1,John John,"Blusas, Jaquetas e Moletons John John",299.99,120.77
59200,206080,206083,Tricot John John Masculino Travis Red JJ Preta,https://secretoutlet.bagypro.com/tricot-john-j...,0,John John,"Blusas, Jaquetas e Moletons John John",299.99,120.77
59201,206080,206084,Tricot John John Masculino Travis Red JJ Preta,https://secretoutlet.bagypro.com/tricot-john-j...,0,John John,"Blusas, Jaquetas e Moletons John John",299.99,120.77
59202,295271,295272,Viseira Calvin Klein Swimwear Logo Preta,https://secretoutlet.bagypro.com/viseira-calvi...,9,Calvin Klein,Bonés Calvin Klein,210.52,90.45

In [97]:
df_estoque = df_estoque.merge(df_vendas, on='Código', how='left')
df_estoque

,SKU Pai,Código,Produto,Link,Estoque,Marca,Categoria,Preço,Custo,Nº De Vendas
0,253696,253697,Bermuda Aeropostale D'Água Masculina Bold Logo...,https://secretoutlet.bagypro.com/bermuda-aerop...,3,Aeropostale,Bermudas Aeropostale,229.99,84.90,NaN
1,253696,253698,Bermuda Aeropostale D'Água Masculina Bold Logo...,https://secretoutlet.bagypro.com/bermuda-aerop...,3,Aeropostale,Bermudas Aeropostale,229.99,84.90,NaN
2,253696,253699,Bermuda Aeropostale D'Água Masculina Bold Logo...,https://secretoutlet.bagypro.com/bermuda-aerop...,3,Aeropostale,Bermudas Aeropostale,229.99,84.90,1.0
3,253696,253700,Bermuda Aeropostale D'Água Masculina Bold Logo...,https://secretoutlet.bagypro.com/bermuda-aerop...,0,Aeropostale,Bermudas Aeropostale,229.99,84.90,NaN
4,257482,257483,Bermuda Aeropostale D'Água Masculina New York ...,https://secretoutlet.bagypro.com/bermuda-aerop...,0,Aeropostale,Bermudas Aeropostale,249.99,104.90,1.0
...,...,...,...,...,...,...,...,...,...,...
59197,206080,206081,Tricot John John Masculino Travis Red JJ Preta,https://secretoutlet.bagypro.com/tricot-john-j...,0,John John,"Blusas, Jaquetas e Moletons John John",299.99,120.77,NaN
59198,206080,206082,Tricot John John Masculino Travis Red JJ Preta,https://secretoutlet.bagypro.com/tricot-john-j...,1,John John,"Blusas, Jaquetas e Moletons John John",299.99,120.77,NaN
59199,206080,206083,Tricot John John Masculino Travis Red JJ Preta,https://secretoutlet.bagypro.com/tricot-john-j...,0,John John,"Blusas, Jaquetas e Moletons John John",299.99,120.77,NaN
59200,206080,206084,Tricot John John Masculino Travis Red JJ Preta,https://secretoutlet.bagypro.com/tricot-john-j...,0,John John,"Blusas, Jaquetas e Moletons John John",299.99,120.77,NaN
59201,295271,295272,Viseira Calvin Klein Swimwear Logo Preta,https://secretoutlet.bagypro.com/viseira-calvi...,9,Calvin Klein,Bonés Calvin Klein,210.52,90.45,NaN

In [98]:
df_estoque = df_estoque.sort_values(by='Nº De Vendas', ascending=False)
df_estoque

,SKU Pai,Código,Produto,Link,Estoque,Marca,Categoria,Preço,Custo,Nº De Vendas
34169,231492,231494,Camiseta Tommy Hilfiger Masculina Essential Co...,https://secretoutlet.bagypro.com/camiseta-tomm...,436,Tommy Hilfiger,Camisetas Tommy Hilfiger,136.83,41.02,1040.0
34170,231492,231495,Camiseta Tommy Hilfiger Masculina Essential Co...,https://secretoutlet.bagypro.com/camiseta-tomm...,395,Tommy Hilfiger,Camisetas Tommy Hilfiger,136.83,41.02,1033.0
34171,231492,231496,Camiseta Tommy Hilfiger Masculina Essential Co...,https://secretoutlet.bagypro.com/camiseta-tomm...,227,Tommy Hilfiger,Camisetas Tommy Hilfiger,136.83,41.02,548.0
34172,231492,231497,Camiseta Tommy Hilfiger Masculina Essential Co...,https://secretoutlet.bagypro.com/camiseta-tomm...,101,Tommy Hilfiger,Camisetas Tommy Hilfiger,136.83,41.02,451.0
34168,231492,231493,Camiseta Tommy Hilfiger Masculina Essential Co...,https://secretoutlet.bagypro.com/camiseta-tomm...,430,Tommy Hilfiger,Camisetas Tommy Hilfiger,136.83,41.02,439.0
...,...,...,...,...,...,...,...,...,...,...
59197,206080,206081,Tricot John John Masculino Travis Red JJ Preta,https://secretoutlet.bagypro.com/tricot-john-j...,0,John John,"Blusas, Jaquetas e Moletons John John",299.99,120.77,NaN
59198,206080,206082,Tricot John John Masculino Travis Red JJ Preta,https://secretoutlet.bagypro.com/tricot-john-j...,1,John John,"Blusas, Jaquetas e Moletons John John",299.99,120.77,NaN
59199,206080,206083,Tricot John John Masculino Travis Red JJ Preta,https://secretoutlet.bagypro.com/tricot-john-j...,0,John John,"Blusas, Jaquetas e Moletons John John",299.99,120.77,NaN
59200,206080,206084,Tricot John John Masculino Travis Red JJ Preta,https://secretoutlet.bagypro.com/tricot-john-j...,0,John John,"Blusas, Jaquetas e Moletons John John",299.99,120.77,NaN
59201,295271,295272,Viseira Calvin Klein Swimwear Logo Preta,https://secretoutlet.bagypro.com/viseira-calvi...,9,Calvin Klein,Bonés Calvin Klein,210.52,90.45,NaN

In [99]:
df_estoque['Nº De Vendas'] = df_estoque['Nº De Vendas'].fillna(0)
df_estoque['Nº De Vendas'] = df_estoque['Nº De Vendas'].astype(int)
df_estoque

,SKU Pai,Código,Produto,Link,Estoque,Marca,Categoria,Preço,Custo,Nº De Vendas
34169,231492,231494,Camiseta Tommy Hilfiger Masculina Essential Co...,https://secretoutlet.bagypro.com/camiseta-tomm...,436,Tommy Hilfiger,Camisetas Tommy Hilfiger,136.83,41.02,1040
34170,231492,231495,Camiseta Tommy Hilfiger Masculina Essential Co...,https://secretoutlet.bagypro.com/camiseta-tomm...,395,Tommy Hilfiger,Camisetas Tommy Hilfiger,136.83,41.02,1033
34171,231492,231496,Camiseta Tommy Hilfiger Masculina Essential Co...,https://secretoutlet.bagypro.com/camiseta-tomm...,227,Tommy Hilfiger,Camisetas Tommy Hilfiger,136.83,41.02,548
34172,231492,231497,Camiseta Tommy Hilfiger Masculina Essential Co...,https://secretoutlet.bagypro.com/camiseta-tomm...,101,Tommy Hilfiger,Camisetas Tommy Hilfiger,136.83,41.02,451
34168,231492,231493,Camiseta Tommy Hilfiger Masculina Essential Co...,https://secretoutlet.bagypro.com/camiseta-tomm...,430,Tommy Hilfiger,Camisetas Tommy Hilfiger,136.83,41.02,439
...,...,...,...,...,...,...,...,...,...,...
59197,206080,206081,Tricot John John Masculino Travis Red JJ Preta,https://secretoutlet.bagypro.com/tricot-john-j...,0,John John,"Blusas, Jaquetas e Moletons John John",299.99,120.77,0
59198,206080,206082,Tricot John John Masculino Travis Red JJ Preta,https://secretoutlet.bagypro.com/tricot-john-j...,1,John John,"Blusas, Jaquetas e Moletons John John",299.99,120.77,0
59199,206080,206083,Tricot John John Masculino Travis Red JJ Preta,https://secretoutlet.bagypro.com/tricot-john-j...,0,John John,"Blusas, Jaquetas e Moletons John John",299.99,120.77,0
59200,206080,206084,Tricot John John Masculino Travis Red JJ Preta,https://secretoutlet.bagypro.com/tricot-john-j...,0,John John,"Blusas, Jaquetas e Moletons John John",299.99,120.77,0
59201,295271,295272,Viseira Calvin Klein Swimwear Logo Preta,https://secretoutlet.bagypro.com/viseira-calvi...,9,Calvin Klein,Bonés Calvin Klein,210.52,90.45,0

In [100]:
df_estoque.to_excel('Planilha_Compras.xlsx')